# Created by venv; see https://docs.python.org/3/library/venv.html
*

!Files/
!Files/**

*.bat
*.zip
!changelog.md
!README.md

!.gitignore

venv/

__pycache__/
*.pyc
*.pyo
*.pyd

.env

.vscode/
.idea/

build/
dist/
*.egg-info/

.DS_Store
Thumbs.db